<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter new data</title>
    <form action = "/" method = "POST">
        <p>Search Marvel Character Name:</p>
        <p><input type = "text" name = "character"></p>
        <p><input type = "submit" value = "submit"></p>
    </form>
</head>
<body>
    <img src=f"{results.get('thumbnail').get('path')}.{results.get('thumbnail.extension)}" alt=f"{results.get('name')}">
    {% for c in comics %}
    <h4><span>{{ c.name }}</span></h4>
   {% endfor %}

</body>
</html>
