<!DOCTYPE html>
<html lang="en">
<body>
    <a href = '/'>Go back to homepage</a>
    <h4>Character List</h4>
    <small>Only show first 100</small>
    {% for c in characters %}
    <p>{{ c }}</p>
   {% endfor %}

</body>
</html>
