<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter new data</title>
    <form action = "/" method = "POST">
        <p>Search Marvel Character Name:</p>
        <p><input type = "text" name = "character"></p>
        <p><input type = "submit" value = "submit"></p>
    </form>
    <button><a href='/characters'>View Character List</a></button>
</head>
<body>
    <h4>Character: {{ name }} </h4>  
    <img src="{{image}}" alt="{{name}}">
    <h4>Comic List</h4>
    {% for c in comics %}
    <p>{{ c.name }}</p>
   {% endfor %}
</body>
</html>
